@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-clr: #3e4e50;
  --primary-clr: #f8bd7f;
  --secondary-clr: #f5ac72;
  --tertiary-clr: #facfad;
  --selector-clr: #50403e;

  --ff-primary: "Rubik";

  --fs-normal: 1rem;
  --fs-md: 1.125rem;
  --fs-lg: 1.5rem;
  --fs-xl: 2rem;
  --fs-xxl: 3rem;

  --fw-normal: 400;
  --fw-md: 500;
  --fw-sb: 600;
  --fw-b: 700;

  --spacer-xxl: 8rem;
  --spacer-xl: 6rem;
  --spacer-lg: 3rem;
  --spacer-md: 2rem;
  --spacer-normal: 1rem;
  --spacer-xs: 0.5rem;
  --spacer-xxs: 0.4rem;
}

body {
  background-color: var(--bg-clr);
  font-family: sans-serif;
  font-family: var(--ff-primary);
}

#main-container {
  min-height: 100vh;
  padding-top: var(--spacer-lg);
}

.main-header {
  color: var(--primary-clr);
  text-align: center;
  font-size: var(--fs-xxl);
}

#playground {
  display: flex;
  justify-content: center;
  margin-top: var(--spacer-lg);
}

.board-container {
  text-align: center;
}

.main-btn {
  padding: var(--spacer-xs) var(--spacer-md);
  font-family: var(--ff-primary);
  text-transform: uppercase;
  font-size: var(--fs-md);
  font-weight: var(--fw-md);
  background-color: var(--primary-clr);
  color: var(--bg-clr);
  border: 0px;
  border-radius: 25px;
  cursor: pointer;
}

.main-btn:hover {
  background-color: var(--secondary-clr);
}

#board {
  margin-top: var(--spacer-md);
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.cell {
  cursor: pointer;
  background-color: var(--tertiary-clr);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  cursor: pointer;
  border: 2px solid var(--selector-clr);
}

.cell:nth-child(even) {
  background-color: var(--secondary-clr);
}

.cell:first-child {
  border-radius: 10px 0 0 0;
}

.cell:nth-child(3) {
  border-radius: 0 10px 0 0;
}

.cell:last-child {
  border-radius: 0 0 10px 0;
}

.cell:nth-last-child(3) {
  border-radius: 0 0 0 10px;
}

.player-scoreboard {
  padding: 0 var(--spacer-xl);
}

.player-scoreboard table {
  table-layout: fixed;
  border-collapse: collapse;
  padding: var(--spacer-xs) 0;
  color: var(--primary-clr);
}

.player-scoreboard table caption {
  margin-bottom: var(--spacer-md);
  font-size: var(--fs-lg);
  font-weight: var(--fw-sb);
}

.player-scoreboard table th,
td {
  font-size: var(--fs-md);
}

.player-scoreboard table th {
  padding: var(--spacer-md) var(--spacer-lg) var(--spacer-normal)
    var(--spacer-lg);
  font-size: var(--fs-md);
  border-bottom: 5px solid;
}

.player-scoreboard table td {
  text-align: center;
  padding: var(--spacer-normal) var(--spacer-lg) var(--spacer-lg)
    var(--spacer-lg);
  font-weight: var(--fw-sb);
  font-size: var(--fs-lg);
}

.player-scoreboard tr > *:first-child {
  border-right: 5px solid;
}

.player-scoreboard table td.score {
  font-size: var(--fs-xl);
}

div.x-marker-contain {
  position: relative;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
}

div.cross {
  position: absolute;
  background-color: var(--bg-clr);
  transform: translate(-50%, -50%);
}

div#cross-left {
  width: 5px;
  height: 100px;
  top: 50px;
  left: 50px;
}

div#cross-right {
  width: 100px;
  height: 5px;
  top: 50px;
  left: 50px;
}
